* {
  box-sizing: border-box;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

.custom-chat-input:focus {
    outline-width: 0;
}

.chat-input::placeholder {
    color: #737373;
}