* {
  box-sizing: border-box;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f7f4ed;
}

*::-webkit-scrollbar-thumb {
  background: #909497;
  border-radius: 100vh;
  border: 3px solid #f6f7ed;
}

*::-webkit-scrollbar-thumb:hover {
  background: #BDC3C7;
}

.custom-chat-input:focus {
    outline-width: 0;
}

.chat-input::placeholder {
    color: #737373;
}